@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* || CSS RESETS */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    vertical-align: bottom;
    height: auto;
}
/* || ROOT AKA CUSTOM PROPERTIES */
:root{
    /* BORDERS */
    --BORDER:2PX sOLID RED;
    --GREY-BORDER:0px solid grey;
     /* PADDINGS */
    --BUTTON-PADDING:0.75em;
    /* FONT SIZES */
    --H1-FONTSIZE:clamp(2rem,5vw,4rem);
    --H2-FONTSIZE:clamp(1.5rem,5vw,3rem);
    --H3-FONTSIZE:clamp(1.125rem,5vw,2.25rem);
    --H4-FONTSIZE:clamp(1rem,5vw,2rem);
    --H5-FONTSIZE:clamp(0.875rem,5vw,1.75rem);
    --H6-FONTSIZE:clamp(0.75rem,4vw,1.5rem);
    --P-FS:clamp(1rem,2.5vw,1.4rem);
    --Link-FS:clamp(1rem,2.5vw,1.4rem);
    --ARTICLE1-BUTTON-FS:clamp(1rem,2.5vw,1.4rem);
    /* | Font Families */
    --H1-FONTFAMILY:'Nunito Sans', sans-serif;
    --H1-FONT-FAMILY2:'Poppins', sans-serif;
    --P-FONTFAMILY:'Roboto', sans-serif;
    /* COlORS */
    --EMAIL-BG-COLOR:#2294ed;
    --WHITECOLOR:#FFF;
    --HEADING-COLORS:#183b56;
    --PARAGRAPH-COLORS:#577592;
    --BUTTON-COLORS:#2294ed;
    --HOVER--COLOR1:#0061AD;
    --HOVER--COLOR2:#2294ed;
    --H2-COLOR:#2294ed;
    --H4-COLOR:#2294ed;
    --LINKS-COLOR:#183b56;
    --NAV-BGCOLOR:white;
    --IMAGE-BGCOLOR:#dcdbdb;
    --ACTUAL-PROGRESS_BGCOLOR:rgb(210, 208, 208);
    /* MARGINS */
    --LI-MOBILE-LAST-CHILD-MARGIN:0rem 0.5rem 0.5rem 0.5rem;
    --article3--textarea-MARGIN-TOP:1rem;
    --PROGRESS-MARGIN-TOP:0.7rem;
    --TOP-AND-BOTTOM-MARGINS-FORCONTAINERS:3rem 0rem 5rem 0rem;
    --THE-ONE-LARGE-MARGIN:0rem 1rem;
    --TOP-AND-BOTTOM-MARGINS-FOR-PARAGRAPHS-HEADING-ETC:0.5rem 0rem;
    --BOTTOM-MARGINS-FOR--H4-HEADING:-0.5rem;
    --TOP-AND-BOTTOM-MARGINS-FOR-BUTTONS:1.2rem 0rem;
    /* PADDINGS */
    --PADDINGS-FOR-PARAGRAPHS-HEADING-ETC:1rem 0rem;
    --TOP-AND-BOTTOM-PADDING-FOR-THE-HEADER:1rem 0rem;
    /* lLINE-HEIGHT */
    --LINE-HEIGHT:1.3;
}
/* || UTILITY CLASSES */
.offscreen{
    position: absolute;
    left: -100000px;
}
.nowrap{
   white-space: nowrap;
}
h1,h2,h3,h4,h5,h6{
   font-family: var(--H1-FONTFAMILY);
   color: var(--HEADING-COLORS);
}
h1{
    font-size: var(--H1-FONTSIZE);
    margin: var(--TOP-AND-BOTTOM-MARGINS-FOR-PARAGRAPHS-HEADING-ETC);
}
h2{
    font-size: var(--H2-FONTSIZE);
    margin: var(--TOP-AND-BOTTOM-MARGINS-FOR-PARAGRAPHS-HEADING-ETC);
}
h3{
    font-size: var(--H3-FONTSIZE);
    margin: var(--TOP-AND-BOTTOM-MARGINS-FOR-PARAGRAPHS-HEADING-ETC);
}
h4{
    font-size: var(--H4-FONTSIZE);
    color: var(--H4-COLOR);
}
h5{
    font-size: var(--H5-FONTSIZE);
    margin: var(--TOP-AND-BOTTOM-MARGINS-FOR-PARAGRAPHS-HEADING-ETC);
}
h6{
    font-size: var(--H6-FONTSIZE);
    margin: var(--TOP-AND-BOTTOM-MARGINS-FOR-PARAGRAPHS-HEADING-ETC);
}
p{
  color: var(--PARAGRAPH-COLORS);
  font-family: var(--P-FONTFAMILY);
  font-size: var(--P-FS);
  line-height: var(--LINE-HEIGHT);
}
 .article1__button{
    padding: var(--BUTTON-PADDING);
    font-size: var(--ARTICLE1-BUTTON-FS);
    margin: var(--TOP-AND-BOTTOM-MARGINS-FOR-BUTTONS);
    background-color: var(--BUTTON-COLORS);
    border: none;
    color:var(--WHITECOLOR);
    border-radius: 5px;
    cursor: pointer;
}
li,ul,pre{
    list-style-type: none;
    font-family: var(--P-FONTFAMILY);
    font-size: var(--P-FS);
    color: var(--PARAGRAPH-COLORS);
}
a{
    text-decoration: none;
    color: var(--LINKS-COLOR);
    font-family: var(--P-FONTFAMILY);
    font-size: var(--Link-FS);
}
a:hover{
    color: var(--HOVER--COLOR2);
}
button:hover{
    background-color: var(--HOVER--COLOR1);
}
/* || GENERAL STYLES */
/* html */
html{
    scroll-behavior: smooth;
}
/* body */
body{
   min-height: 1500vh;
} 









/* || HEADER */
.header{
    margin: var(--THE-ONE-LARGE-MARGIN);
    padding: var(--TOP-AND-BOTTOM-PADDING-FOR-THE-HEADER);
}
.header__h4{
    white-space: nowrap;
}
.header__color--change{
    color: var(--PARAGRAPH-COLORS);
}
/* || CREATING THE NAV */
.header__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header__menu__button{
    border: none;
    color: var(--H4-COLOR);
    background: none;
    padding: 0rem;
    margin: 0rem;
    transition: all 0.6s ease 0s;
    width:25px;
    height: 20px;
    text-align: center;
}
.header__menu__button:hover{
    background: none;
}
.header__menu,
.header__menu::before,
.header__menu::after{
    width: 20px;
    height: 3px;
    background-color: var(--H4-COLOR);
     
}
.header__menu::before,
.header__menu::after{
    display: inline-block;
    content: '';
}
.header__menu::before{
 
    transform: translateY(-14.1px);
}
.header__menu::after{
    transform: translateY(-20.5px);
}
.header__nav{
 
    text-align: center;
    position: absolute;
    background-color: var(--NAV-BGCOLOR);
    right: 0;
    left: 0;
    top: 55px;
    animation: navanimation  0.8s ease 0s 1 forwards;
    transform-origin: top center;
    display: none;
  
}
.header__li{
   margin: 0.2rem 0rem;
   padding:1.1rem 0rem;
}
.header__li:last-child {
    font-weight: bold;
    background-color: var(--EMAIL-BG-COLOR);
    margin: var(--LI-MOBILE-LAST-CHILD-MARGIN);
    border-radius: 5px;
}
.header__li:last-child a{
   color: var(--WHITECOLOR);
}
.header__li:last-child:hover{
   background-color: var(--HOVER--COLOR1);
}
.header__li a{
    font-weight: bolder;
}
.header__button{
    position: absolute;
    background: none;
    border: none;
    top: 1.2rem;
    right: 1rem;
    width:30px;
    height: 20px;
    display: none;
}
.header__button:hover{
    background: none;
}



/*  Hover AND ALL OTHER SETTINGS */
.header:focus-within .header__nav{
    display: block;
}
.header__section:focus-within .header__menu{
    background: transparent;
}
.header__section:focus-within .header__menu__button{
    transform: rotate(720deg);
}
.header__section:focus-within .header__menu::before{
    transform: rotate(45deg) translate(-5.2px,-8px);

}
.header__section:focus-within .header__menu::after{
    transform: rotate(-45deg) translate(20px,-16px);
}

.header:focus-within .header__button{
    display: block;
}
.header:focus-within .header__button:focus-within{
    transform: translateX(-50px);
}
.header__button:focus + .header__nav{
    transform-origin:top center;
    animation: navanimation2  0.8s ease 0s 1 forwards;
}

/* || SECOND NAV */

.header__section2{
    margin: var(--THE-ONE-LARGE-MARGIN);
    padding: var(--TOP-AND-BOTTOM-PADDING-FOR-THE-HEADER);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__li2{
  display: inline-block;
  padding:0rem 1rem;
}
.header__section2{
    display: none;
}













/* || MAIN */
.main{
    margin: var(--THE-ONE-LARGE-MARGIN);
}
/* || ARTICLE1 */
.main__article1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: var(--TOP-AND-BOTTOM-MARGINS-FORCONTAINERS);
}
/* || ARTICLE2 */
.main__article2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    gap: 1rem;
    margin: var(--TOP-AND-BOTTOM-MARGINS-FORCONTAINERS);
}
.article2__ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.article2__h4{
    color: var(--H4-COLOR);
}

/* || ARTICLE3 */
.article3__ratings i{
    color: var(--H4-COLOR);
}
.article3__ratings  i:last-child{
    color: var(--HEADING-COLORS);
}
.article3__textarea__h4{
    color: var(--HEADING-COLORS);
    margin: var(--TOP-AND-BOTTOM-MARGINS-FOR-PARAGRAPHS-HEADING-ETC);
}
.main__article3{
    margin: var(--TOP-AND-BOTTOM-MARGINS-FORCONTAINERS);
}
.article3__section__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}
.article3__headings{
    text-align: center;
}
.article3__progress{
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
}
.article3__textarea{
    margin-top:var(--article3--textarea-MARGIN-TOP);
}
.actual__progress{
    height: 10px;
    border-radius: 5px;
    background-color: var(--ACTUAL-PROGRESS_BGCOLOR);
}
.article3__progress h6{
      margin-top:var(--PROGRESS-MARGIN-TOP);
}
.actual__progress::before{
    position: relative;
    top: -4.6px;
    display: inline-block;
    content: '';
    height: 10px;
    background-color: var(--H4-COLOR);
    border-radius: 5px;
 
}
.html__progress::before{
      animation: Progress-animation-HTML 2s ease 0s 1 forwards;
}
.css__progress::before{
    animation: Progress-animation-CSS 2s ease 0s 1 forwards;
}
.javascript__progress::before{
    animation: Progress-animation-JAVASCRIPT 2s ease 0s 1 forwards;
}

/* || ARTICLE 4 */
.main__article4{
    margin: var(--TOP-AND-BOTTOM-MARGINS-FORCONTAINERS);
}
.article4__headings{
    text-align: center;
}
.article4__projects__container{
    margin:var(--TOP-AND-BOTTOM-MARGINS-FORCONTAINERS);
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
}
 
.article4__figure{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.article4__image__details{
    position: absolute;
    width: 100%;
    height: 100%;
     
    background-color: #141c3a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: all 0.8s ease 0s;
    text-align: center;
    padding:0rem 0.5rem;
}
.article4__image__details__h4{
    color: var(--WHITECOLOR);
}
.article4__figure:hover .article4__image__details{
    transform: translate(0);
}
 .article4__button{
    padding: var(--BUTTON-PADDING);
    font-size: var(--ARTICLE1-BUTTON-FS);
    margin: var(--TOP-AND-BOTTOM-MARGINS-FOR-BUTTONS);
    border:2px solid var(--BUTTON-COLORS);
    background: none;
    color:var(--WHITECOLOR);
    border-radius: 5px;
    cursor: pointer;
}
 .article4__button:hover{
    background: none;
 }













/* || TABLETS MEDIA QUERY */
@media (min-width:760px){
    /* ROOT */
    :root{
        --TOP-AND-BOTTOM-MARGINS-FORCONTAINERS:5rem 0rem 6rem 0rem;
    }
    /* ARTICLE-1 */
    .main__article1{
        flex-direction: row;
    }
    /* ARTICLE-2 */
    .main__article2{
        flex-direction: row;
    }
    .article2__textarea{
        order: 2;
        width: 50%;   
    }
    .article2__image{
       
        width: 50%;
        text-align: center;
    }
    /* ARTICLE3 */
    .article3__section__container{
        flex-direction: row;
    }
    .article3__progress{
        width: 50%;
    }
    .article3__textarea{
        width: 50%;
    }
    .article3__image{
    width: 70%;
    }
   .article3__figure{
    text-align: center;
   }
    /* Header */
    .header{
        display: none;
    }
    .header__section2{
        display: flex;
    }
}
/* || LARGEST SCREENS MEDIA QUERY */
@media (min-width:1400px){
    body{
        width: 1300px;
        margin: 0rem auto;
         
    }
}










/* || ANIMATIONS */
@keyframes navanimation {
    0%{
        transform: scaleY(0);
    }
    80%{
        transform: scaleY(1.2);
    }
    100%{
        transform: scaleY(1);
    }
}
@keyframes navanimation2 {
    0%{
        transform: scaleY(1);
    }
    20%{
        transform: scaleY(1.2);
    }
    100%{
        transform: scaleY(0);
    }
}
@keyframes Progress-animation-HTML {
    from{
        width: 0%;
    }
    to{
        width:75%;
    }
}
@keyframes Progress-animation-CSS {
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}
@keyframes Progress-animation-JAVASCRIPT {
    from{
        width: 0%;
    }
    to{
        width: 50%;
    }
}



